.p-y-4 {
	padding-top: 4rem;
	padding-bottom: 4rem;
	background-color: transparent;
}
body {
	background: url(../images/mac-background2.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.navbar navbar-inverse {
	background-color: blue;
}

/* header */
header {
	background: #ccc;
}
.nav-pills > li {
	float:none;
	display:inline-block;
}


.row {
	padding-top: 2rem;
}


/* footer */
footer {
	background: #ccc;
	color:white;
}
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}